extends ../layoutAdmin.jade

block contenido

          .container
            .row
              h4(class="text-center") Seleccione la consulta que desea realizar
              
              form(name="formulario" role="search",action='/admin/reportes' method='get' enctype="multipart/form-data" ).navbar-form.navbar-left
                .form-group
                  .container
                    .row
                      #custom-search-select
                        .input-group.col-md-12
                          select(name= 'numConsulta').form-control
                              option(value="c1") Estudiantes que no han reclamado tiquetes esta semana
                              option(value="c2") Cantidad de tiquetes entregados por empresa
                              option(value="c3") Estudiantes que estan suspendidos
                          span.input-group-btn
                            button.btn.btn-danger(type='submit').btn.btn-default
                              span.glyphicon.glyphicon-search
          if(consulta=="c3")
            table(class="table marginleft marginright")
                  thead
                      tr
                        th Nombre
                        th Identificación
                        th Teléfono
                        th E-mail
                        th Ciudad
                        th Compañía
                        th Tiquetes
                        th Acciones
                  tbody
                    each student in resultado
                      tr
                        td=student.name
                        td=student.id
                        td=student.tel
                        td=student.email
                        td=student.city
                        td=student.company
                        td=student.tickets
                        td=student.estado
                          a(href="/estudiante/edit/#{student._id}" ) Editar
                          =" - "
                          a(href="/estudiante/delete/#{student._id}") Eliminar
                        
              
          
